@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-image: linear-gradient( to right,#9CDBA6, #50B498);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.noMindingBtn{
  border-color: transparent;
  color: #468585;
  font-weight: bold;
  margin: 5px;
}
.noMindingBtn:hover{
  border-color: transparent;
  background-color: #468585;
  color: #DEF9C4;
}
.profilePic{
  /* border: 2px solid white; */
  border-radius: 50%;
  width: 45px;
  height: 45px;
}